<h1>Hi!!!</h1>
<router-outlet></router-outlet>

<!-- Control navigation with UI elements -->
<nav>
    <a class="button" routerLink="/crisis-list">Crisis Center</a> |
    <a class="button" routerLink="/heroes-list">Heroes</a>
</nav>


<!-- Identify the active route -->
<nav>
    <a class="button"
       routerLink="/crisis-list"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Crisis Center
    </a> |
    <a class="button"
       routerLink="/heroes-list"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Heroes
    </a>
  </nav>